<h2>Szerelők szerkesztése</h2>
<form action="<%= basePath %>/szerelok/<%= szerelo.az %>?_method=PUT" method="post">
  <label>Név <input name="nev" value="<%= szerelo.nev %>" required></label>
  <label>Kezdés éve <input name="kezdev" type="number" value="<%= szerelo.kezdev %>" required></label>
  <button>Mentés</button>
</form>
