
<html>
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <style>
        body{
            text-align: center;
        }
        
        .image-center{
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
        }
    </style>
</head>
<body>
    <h2>Üdvözöljük!</h2>
<p>A Vizimai <strong>Jani&Szabi Kft.</strong> Olcsón, gyorsan akár még ünnepnapokon is megoldja vízszereléssel kapcsolatos problémáit!</p>
<p> A kép csak illusztráció!</p>
<div class="image-center" >
    <img src="<%= basePath %>/assets/img/JaniSzabi.png" alt="Jani & Szabi Kft." width="350">
</div>
</body>
</html>